<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('./includes/navigation.ejs') %>

  <main>
    <div class="login-form">
      <p class="text-danger"> <%= errorMessage %></p>
      <p class="text-success"><%= infoMessage  %></p>
      <form class="login-form" action="/login" method="POST">
        <div class="form-control">
          <label for="email">E-Mail</label>
          <input type="email" name="email" id="email">
          <label for="password">Password</label>
          <input type="password" name="password" id="password">
        </div>
        <button class="btn" type="submit">Login</button>
      </form>
      <hr />
      <div>manager</div>
      <div>email: chi1@gmail.com - password: chi</div>
      <div>employee</div>
      <div>email: test@gmail.com - password: chi</div>
    </div>
  </main>
  <script>
    if( '<%= infoMessage  %>' == 'Đăng nhập thành công!'){
    var timeout = 1000;  
    setTimeout(function () {
       window.location = "/";
    }, timeout);
    }
  </script>
  <%- include('./includes/end.ejs') %>