<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>

            <main>
                <h1>Thông tin nhân viên</h1>
                <%- include('./includes/clock.ejs') %>                
                <hr>
                <div class="row container">

                    <div class="col-4">
                        <img style="padding: 10px;" class="img-fluid" src="<%= user.imageUrl %>" alt="profileImage">                        
                    </div>
                    <div class="col-8">
                        <ul>
                            <li>id: <%= user.id %></li>
                            <li>name: <%= user.name %></li>
                            <li>doB: <%= user.doB %></li>
                            <li>salaryScale: <%= user.salaryScale %></li>
                            <li>startDate: <%= user.startDate %></li>
                            <li>department: <%= user.department %></li>
                            <li>annualLeave: <%= user.annualLeave.totalAnnualLeave %></li>
                        </ul>
                        <form style="padding: 10px;" action="/profile" method="POST">
                            <input type="text" name="imageUrl" value="<%= user.imageUrl %>" class="form-control">
                            <button class="btn btn-primary">Change Profile Picture</button>
                        </form>
                    </div>
                </div>
            </main>
            <%- include('./includes/end.ejs') %>
            